{% extends "index.html" %}

{% block content %}

<h1>Hello, {{profile.first_name}}, welcome to your profile</h1>

<h3>Profile Information</h3>
    <ul>
        <li>First Name: {{profile.first_name}}</li>
        <li>Last Name: {{profile.last_name}}</li>
            <!-- These will come from the customer table -->
        <li>Address:</li>
        <li>Phone Number:</li>
    </ul>

<h3>Payment Options</h3>
<!-- Will be coming from the paymenttype table -->
    <ul>
        <li>Payment Type Name:</li>
        <li>Account Number:</li>
    </ul>

    <!-- this button will link to the add_payment page -->

<h3>Order History</h3>



{% endblock content %}