{% extends "index.html" %}

{% block content %}

<h1 class="d-flex justify-content-center mb-5">Hello, {{profile.first_name}}. Welcome to your profile</h1>

<div>
    <div class="d-flex justify-content-center mt-3">
        <div class="card shadow-sm mb-5 bg-white rounded" style="width: 25rem;">
            <h3 class="card-header font-weight-bold text-center text-black pt-4 pb-4">My Information</h3>
            <div class="card-body">
                <p class="text-center">{{profile.first_name}} {{profile.last_name}}</p>
                    <!-- These will come from the customer table -->
                <p class="text-center">{{profile.address}}</p>
                <p class="text-center">{{profile.phoneNumber}}</p>
            </div>
        </div>
    </div>

<h3>Payment Options</h3>
<!-- Will be coming from the paymenttype table -->
{% if not sql.accountNumber %}
    {% for payment in sql %}
    <ul>
        <li>Payment Name: {{payment.name}}</li>
        <li>Account Number: {{payment.accountNumber}}</li>
    </ul>
    <!-- there will be a button to link to the add_payment page -->
    {% endfor %}
    <a href="{% url 'website:add_payment' %}"><button type="button" class="btn btn-success mt-3">Add Payment</button></a>
{% else %}
    <a href="{% url 'website:add_payment' %}"><button type="button" class="btn btn-success mt-3">Add Payment</button></a>
{% endif %}
{% endblock content %}
