{% extends 'base.html'  %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  {% block content %}
  <body>
    <h1>Products</h1>

    <ol>
    {% for product in products %}
    {% if product.deletedOn is None %}
        <li><a href="{% url 'website:product_detail' product.id %}">{{ product.title }}</a> 
            <a href="{% url 'website:deleteProduct' product.id%}">(DELETE)</a>   </li>
    {% endif %}
    {% endfor %}
    </ol>
  </body>
  {% endblock %}
</html>

