{% extends 'base.html' %}

{% block content %}

{% for type in product_type %}
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm text-dark m-5" style="width:80%">
            <h2 class="card-header text-center">{{type.name}}
            </h2>
            <div class="card-body">
                {% for products in list_of_products %}    
                    {% for product in products %}
                        {% if product.productType_id == type.id %}
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'website:product_detail' product.id %}">
                                    <p class="card-title text-dark">{{product.title}}</p>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="d-flex justify-content-center mt-3 mb-2">
                    <a href="{% url 'website:products_by_type' type.id %}" class="btn btn-primary" role="button" style="width:175px">All {{type.name}}</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}


{% comment %}
<div>
    <h2>total number of products</h2>
    {% for count in product_count %}
    <p>{{count.name}} ({{count.prodCount}})</p>
    {% endfor %}
</div>
{% endcomment %}