{% load static %}

{% include "navbar.html" %}

{%block content%}
<h1>{{product_details.name}}</h1>
<div class="jumbotron m-5">
    <h2 class="display-4 text-center">{{product_details.title}}</h2>
    <hr class="m-5">
    <p class="lead text-center mb-4">{{product_details.description}}<br />
    ${{product_details.price}}</p>
    <div>
        <div class="d-flex justify-content-center mb-3">
            <a class="btn btn-success btn-lg mr-2" href="#" role="button">add to your order</a>
        </div>
    </div>
    <p class="lead text-center mt-4"> Only {{product_details_quantity_id.pCount}} remaining!
    </div>

</div>

{%endblock%}
<!-- below should be the correct url once a cart exists -->
{%comment%}
{% url 'website:checkout' %}
{%endcomment%}