{% extends 'base.html'  %}

{% block content %}


        <div class="d-flex justify-content-center mb-5">
            <h1>{{ type.name }}</h1><br />
            </div>
            <div class="d-flex justify-content-center">
            {% for product in prod %}
            <a href="{% url 'website:product_detail' product.id %}" class="text-dark">
                <div class="card border-dark mb-3 m-4" style="width: 18rem;">
                    <div class="card-header font-weight-bold text-center text-black">{{ product.title }}</div>
                    <div class="card-body">
                        <p class="card-text p-2">${{ product.price }}<br />
                        {{ product.quantity }} left in stock</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>


{% endblock %}