{% extends 'base.html'  %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  {%block content%}
  <body>
    <div class="jumbotron m-5">
        <h1 class="display-4 text-center">Welcome to Bangazon!</h1>
        <hr class="m-5">
        <p class="lead text-center mb-5">Your one stop shop for the stuff of your dreams</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mr-2" href="{% url 'website:product_home' %}" role="button">enter bangazon</a>
        </div>
    </div>

  </body>
  {%endblock%}
</html>