{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/index.css' %}" />

<nav>
  <form action="/home" method='get'>
    <input type="submit" value="Home">
  </form>
  <form action="/products" method='get'>
    <input type="submit" value="My Products">
  </form>
  <form action="/cart" method='get'>
    <input type="submit" value="Cart">
  </form>
  <form action="/profile" method='get'>
    <input type="submit" value="My Profile">
  </form>
  {% if user.is_authenticated %}
  <form action="/logout" method='get'>
    <input type="submit" value="Logout">
  </form>
  {% else %}
  <form action="/login" method='get'>
    <input type="submit" value="Login">
  </form>
  {% endif %}
</nav>